<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">

<head>
    <title>Article Details</title>
    <style>
        /* Add your custom CSS styles here */
        /* For example, you can style the article details section */
        .article-details {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .article-details img {
            max-width: 100%;
        }

        .article-details table {
            margin-top: 10px;
            width: 100%;
        }

        .article-details th, .article-details td {
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }

        .info-message {
            font-size: 24px;
            color: #75b70a;
        }

        .error-message {
            font-size: 24px;
            color: #ad260b;
        }
    </style>
</head>
<body>
<div class="article-details">
    <a th:href="@{/}">Go to Home</a>
    <!--  display the message after adding article to cart info mode-->
    <div class="info-message" th:if="${infoMessage != null}">
        <p th:text="${infoMessage}" class="info"></p>
    </div>
    <div class="error-message" th:if="${errorMessage != null}">
        <p th:text="${errorMessage}" class="info"></p>
    </div>
    <h1>Article Details</h1>
    <img th:src="@{'/img/' + ${article.productType.name} + '.jpg'}" alt="Article Image">
    <p>Description: <span th:text="${article.description}"></span></p>
    <p>Gender: <span th:text="${article.gender.name}"></span></p>
    <p>Season: <span th:text="${article.season.name}"></span></p>
    <p>Product Type: <span th:text="${article.productType.name}"></span></p>
    <p>Price: <span th:text="${article.price}"></span></p>
    <p>Country: <span th:text="${article.country}"></span></p>
    <div sec:authorize="isAuthenticated()">
        <h2>Article Sizes</h2>
        <table>
            <thead>
            <tr>
                <th>Size</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="size : ${article.articleSizeList}">
                <td th:text="${size.articleSizeCompositeKey.sizeCode}"></td>
                <td th:text="${size.amount}"></td>
            </tr>
            </tbody>
        </table>

        <!--  for ordering-->
        <h2>Make your order:</h2>
        <form sec:authorize="isAuthenticated()" th:action="@{/order/{id}(id=${article.id})}" method="POST">
            <label for="size">Size:</label>
            <select id="size" name="size">
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" min="1" required>

            <button type="submit">Add to cart</button>
        </form>
    </div>
</div>
</body>
</html>
