<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>User's Cart</title>
    <style>
        /* Add your custom CSS styles here */
        /* For example, you can style the cart items section */
        .cart-items {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .cart-items img {
            max-width: 100px;
        }

        .cart-items table {
            margin-top: 10px;
            width: 100%;
        }

        .cart-items th, .cart-items td {
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }

        .cart-total {
            margin-top: 20px;
            text-align: right;
        }

        .info-message {
            font-size: 24px;
            color: #75b70a;
        }

    </style>
</head>
<body>
<div class="cart-items">
    <a class="btn m-2 text-dark" th:href="@{/}">Go to Home</a>
    <h1> User's cart</h1>

    <div class="info-message" th:if="${infoMessage != null}">
        <p th:text="${infoMessage}" class="error"></p>
    </div>

    <table>
        <thead>
        <tr>
            <th>ARTICLE CODE</th>
            <th>Image</th>
            <th>SIZE</th>
            <th>AMOUNT</th>
            <th>PRICE</th>
            <th>TOTAL</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.article.id}"></td>
            <td><img th:src="@{'/img/' + ${item.article.productType.name} + '.jpg'}" class="w-50"></td>
            <td th:text="${item.sizeCode}"></td>
            <td th:text="${item.amount}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.price * item.amount}"></td>
            <td>
                <!--                <button type="submit" class="btn btn-danger" th:onclick="removeItem(${item.article.id}, ${item.sizeCode})">Remove</button>-->
                <form type="submit" th:action="@{/cart/removeItem}" method="POST">
                    <input name="articleId" type="hidden" th:value="${item.article.id}">
                    <input name="sizeCode" type="hidden" th:value="${item.sizeCode}">
                    <button type="submit" class="btn btn-danger">REMOVE</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <h2>Total:</h2>
        <h3 th:text="${total}"></h3>
    </div>
    <div th:if="${#lists.isEmpty(cartItems)}">
        <h2>Your cart is empty, first make order</h2>
    </div>
    <div th:unless="${#lists.isEmpty(cartItems)}">
        <form sec:authorize="isAuthenticated()" th:action="@{/approveOrder}" method="POST">
            <button type="submit">Approve Order</button>
        </form>
    </div>

</div>
</body>

</html>
